__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.env
.venv/
*.egg-info/
dist/
build/
.eggs/
*.egg
.idea/
.vscode/
*.db
*.sqlite3
*.log
.DS_Store
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
celerybeat-schedule
*.pid
